html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    link(rel='stylesheet', type='text/css', href='/main.css')

    script(src='https://www.gstatic.com/firebasejs/5.4.0/firebase.js')
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
    script(src="fireBase.js")
    script(src="auth.js")
    
  body 
    <h1>Loggedin</h1>
    button(onclick="mainApp.logOut()") LogOut
    button(onclick="test_SendId()") TestId
